@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

#leftMenu {
  background: #202020;
  height: 100vh;
  overflow: scroll;
  width: 240px;
  transition: width 0.3s ease-in-out;
}

#fixMenu {
  margin-top: 60px;
  display: block;
}

#upSide {
  height: 56px;
  display: flex;
  align-items: center;
  float: left;
  width: 100%;
  position: fixed;
  background-color: #202020;
  z-index: 1000;
}

#hamburgerIcon {
  width: 18px;
  cursor: pointer;
  float: left;
  margin: 25px;
  padding: 16px;
  border-radius: 20px;
}

#hamburgerIcon:active {
  background-color: #323232;
  border: 1px solid #383838;
  padding: 15px;
}

#youtubeIcon {
  display: flex;
  align-items: center;
  float: left;
}

#youtubeIcon > img {
  width: 27px;
}

#youtubeIcon > p {
  margin-left: 5px;
  font: normal 20px "Oswald";
  font-weight: 400;
}

.subMenu {
  float: left;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #383838;
}

.subMenuItem:hover {
  background-color: #373737;
}

.subMenuItem:active {
  background-color: #404040;
}

.subMenuItem {
  width: 100%;
  cursor: pointer;
}

.subMenuItem > div > p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  float: left;
  user-select: none;
}

.subMenuItem > div > img {
  width: 25px;
  margin-right: 25px;
  float: left;
  user-select: none;
}

.subMenuItem > div {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

#active {
  background-color: #383838;
}

#active:hover {
  background-color: #454545;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.signinBox {
  float: left;
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #383838;
  padding-bottom: 20px;
}

.signinBox > div {
  float: left;
  width: 80%;
}

.signinText {
  font-size: 14px;
  margin-bottom: 15px;
}

.signinButton > img {
  margin-right: 5px;
}

.signinButton {
  background-color: transparent;
  color: #388fda;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  font-weight: 700;
  border: 1px solid #388fda;
  text-transform: uppercase;
}

.subMenuTitle {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.007px;
  padding: 8px 24px;
}

.BOYIcon {
  border-radius: 25px;
}

#closedHamburger {
  display: none;
  margin-bottom: 30px;
  justify-content: center;
  flex-direction: column;
}

#closedHamburger > li {
  width: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-direction: column;
}

#closedHamburger > li:hover {
  background-color: #373737;
  cursor: pointer;
}

#closedHamburger > li > p {
  font-size: 10px;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}
